body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  background: #fff;
  /* height: 1000px; */
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif; 
  line-height: 1.5;
  color: #666;
  /* background-color: #ccc; */
} 
img {
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}
/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

* {
    -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input {
    -webkit-appearance: none;
}

/*禁用长按页面时的弹出菜单*/

img,
a {
    -webkit-touch-callout: none;
}
/* app部分 */
.app ul {
  margin: 0px;
  padding: 0px;
  height: 45px;
}
.app ul li {
  float: left;
  list-style-type: none;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #333;
  color: #fff;
}
.app ul li:nth-child(1) {
  width: 8%;
}
.app ul li:nth-child(1) img{
  width: 10px;
}
.app ul li:nth-child(2) {
  width: 10%;
}
.app ul li:nth-child(2) img{
  width: 30px;
  vertical-align: middle;
}
.app ul li:nth-child(3) {
  width: 57%;
}
.app ul li:nth-child(4) {
  width: 25%;
  background-color: #F63515;
}
/* serach部分 */
.serach {
  position: fixed;
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  height: 44px;
  overflow: hidden;
}
.serach-btn {
  /* float: left; */
  position: absolute;
  left: 0px;
  top: 0px;
  /* background-color: #F63515; */
  width: 40px;
  height: 44px;
}
.serach-btn::before {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  background: url(../images/s-btn.png) no-repeat;
  background-size: 20px 18px;
  margin: 14px 0 0 15px;
}
.serach-login {
  /* float: right; */
  position: absolute;
  right: 0.1px;
  top: 0px;
  /* background-color: #F63515; */
  width: 40px;
  height: 44px;
  line-height: 44px;
  color: #fff;
}
.serach-center {
  position: relative;
  height: 30px;
  margin: 7px 50px;
  background-color: #fff;
  border-radius: 15px;
}
.jd-icon {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 13px;
  background: url(../images/jd.png) no-repeat;
  background-size: 20px 15px;
  /* background-color: antiquewhite; */
}
.jd-icon::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}
.sou {
  position: absolute;
  top: 8px;
  left: 50px;
  width: 18px;
  height: 15px;
  background: url(../images/jd-sprites.png) no-repeat -81px 0px;
  background-size: 200px 200px;
}
.main-content img {
  width: 100%;
}
/* brand部分 */
.brand {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.brand div {
  float: left;
  width: 33.33%;
}
/* nav部分 */
nav {
  margin-top: 5px;
}
nav a {
  float: left;
  width: 20%;
  text-align: center;
}
.main-content nav a img {
  width: 40px;
  margin: 10px 0;
}
nav a span {
  display: block;
}
/* news */
.news {
  /* height: 205px; */
  margin-top: 20px;
}
.news a {
  float: left;
  box-sizing: border-box;
}
.news a:first-child {
  width: 50%;
}
.news a:nth-child(n+2) {
  width: 25%;
  border-left: 1px solid #ccc;
}
.news img {
  width: 100%;
}